MONGO_URI=your_mongo_url_here

JWT_ACCESS_SECRET=your_jwt_access_key_here
JWT_ACCESS_EXPIRATION=1d

# Docker-Compose 실행 시 아래의 경로를 사용해주세요.
AUTH_SERVER=http://auth:3001/auth
USER_SERVER=http://auth:3001/user
EVENT_SERVER=http://event:3002/event 

# npm run start:all으로 실행 시 아래의 경로를 사용해주세요.
# AUTH_SERVER=http://localhost:3001/auth
# USER_SERVER=http://localhost:3001/user
# EVENT_SERVER=http://localhost:3002/event 